#listaPersonalizada{
    left: 50px;
    border: 1px solid red;
    list-style-image: url('https://i.ibb.co/VpQDDMjr/Screenshot-2025-03-12-at-9-01-08-AM.png" alt="Screenshot-2025-03-12-at-9-01-08-AM');
}